<div class="border rounded">
  <p class="p-3"><%= params[:question] %><br><em>~You</em></p>
  <p class="p-3"><%= @response %><br><em>~Your coach</em></p>
  <p><%= link_to "Ask a new question", ask_path %></p>
<div>
